%header
  %h1
    %a{ href: '/index.html'}
      %img{ alt:"META MESH", title:"META MESH", src: "/images/metamesh_logotext.svg", style:"width:80%; position:relative"}
  %nav
    .link
      %a{ href: '/projects.html' }
        Projects
    .link
      %a{ href: '/vision.html' }
        Vision
    .link
      %a{ href: '/contact.html' }
        Contact
    .link
      %a{ href: '/blog.html' }
        Blog
