!!!5
%html
  {% convert_include global_head.haml %}
  %body
    #container
      %iframe{:id=>"map", :src=>"http://maps.stamen.com/terrain/embed#12/40.4536/-79.9374"}
      -#{% convert_include global_nav.haml %}
      #content.page
        {{ content }}

